.academy-welcome-step .academy-first-challenge{
  margin-top:50px;
}

@media (max-height:820px){
  .academy-welcome-step .academy-first-challenge{
    margin-top:46px;
  }
}

@media (max-height:740px){
  .academy-welcome-step .academy-first-challenge{
    margin-top:42px;
  }
}
